.photo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-pic {
    width: 16rem;
    border-radius: 50%;
    padding: 0.3rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primary-white);
}

.about-heading {
    color: var(--primary-text);
    font-weight: 700;
}


.aerostatika-header {
    color: rgb(54, 124, 180);
}

@media(max-width: 468px){
    .profile-pic {
        width: 10rem;
    }
}