.Btn {
	margin: 1.3125rem 1rem;
	padding: 0.5rem 1rem;
	background: var(--primary-mint);
	font-size: 1rem;
	font-family: 'Rubik Mono One', sans-serif;
	font-weight: 300;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 0.5rem;
	text-decoration: none;
	position: relative;
	transition: all 0.5s;
	overflow: hidden;
}

.Btn:hover {
	color: #fff;
}

.Btn:before {
	content: "'click'";
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--superman-red);
	height: 100%;
	width: 100%;
	transform: translateY(-100%);
	transition: all 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-cyan);
	text-shadow: 0 0.1rem 0.01rem rgba(255, 0, 0.8);
}

.Btn:hover:before {
	transform: translateY(0);
}
