.Contact {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.3rem 0;
	background: var(--primary-light-grey);
}

.Contact p {
	padding: 0 4rem;
}

.contacts input,
.contacts textarea {
	width: 100%;
	box-sizing: border-box;
	padding-top: 1.5rem;
	font-size: 1.5rem;
	font-weight: 700;
	background: none;
	resize: none;
	border: 0;
	border-bottom: 0.125rem solid var(--primary-pink);
	box-shadow: none;
	top: 0;
	outline: 0 !important;
}

.contacts input {
	margin: 0.5rem 0;
}

.contacts textarea {
	margin: 2rem 0;
	border: 0.125rem solid var(--primary-pink);
}

.contacts .container {
	padding: 4rem 0;
}

.contacts input:focus,
.contacts textarea:focus {
	border: none;
	background: transparent;
	border-bottom: 0.125rem solid var(--primary-cyan);
	color: var(--primary-text);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.contact-btn {
	margin: 0.3125rem 0;
	padding: 0.5rem 1rem;
	background: var(--primary-cyan);
	border-radius: 0.25rem;
	font-size: 1rem;
	font-family: 'Rubik Mono One', sans-serif;
	font-weight: 300;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	border: none;
	text-decoration: none;
	position: relative;
	transition: all 0.5s;
	overflow: hidden;
}

.contact-btn:hover {
	color: #fff;
}

.contact-btn:before {
	content: 'Thanks!';
	position: absolute;
	left: 0;
	top: 0;
	background-color: #ffe600;
	height: 100%;
	width: 100%;
	transform: translateY(-100%);
	transition: all 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-cyan);
	text-shadow: 0 0.1rem 0.01rem rgba(255, 0, 0.8);
}

.contact-btn:hover:before {
	transform: translateY(0);
}

.error-message {
	font-size: 0.75rem;
	font-weight: 300;
	padding-bottom: 0.3125rem;
	color: var(--primary-red);
	text-align: left;
}

.success-message {
	font-weight: 700;
	font-size: 1rem;
	color: var(--primary-indigo);
}

@media screen and (max-width: 768px) {
	.contacts .container {
		padding: 0 3rem;
	}
}
