.Experience {
    padding: 0.7rem;
    background: var(--primary-light-grey);
}

.Experience-wrapper {
    position: relative;
    padding: 3.125rem;
    overflow: hidden;
}

.Experience-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    background: var(--primary-grey);
    z-index: 1;
}

.timeline-block {
    width: calc(40% + 0.5rem);
    display: flex;
    justify-content: space-between;
    clear: both;
    border-radius: 0.25rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl;
}

.marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.3125rem solid var(--primary-dark-grey);
    background: var(--primary-orange);
    margin-top: 0.625rem;
    z-index: 3
}

.timeline-content {
    width: 95%;
    padding: 0 0.9375rem;
    color: var(--primary-text);
    direction: ltr;
}

.year {
    color: var(--primary-pink);
    font-weight: 700;
    margin: 0;
    text-shadow:0 0.5px 2px rgba(0, 0, 0, 0.25);
}

.brand {
    text-shadow:0 0.5px 2px rgba(0, 0, 0, 0.25);
}

.job-title {
    color: var(--primary-dark-grey);
    font-size: 0.975rem;
    font-weight: 700;
}

.job-description {
    font-size: 0.9rem;
}

.cme-header {
    text-shadow: 1px 3px 5px rgba(152, 213, 41, 0.25);
}   
    
/* Media queries */

/* @media screen and (max-width: 940px){
   .marker {
       position: absolute;
   }
}

@media screen and (max-width: 900px){
    .experience .container {
        padding-left: 0;
    }
    .experience-wrapper::before {
        left: 0.5rem;
        margin-bottom: 1.875rem;
    }
    .timeline-block-right {
        float: none;
    }
    .timeline-block-left {
        float: none;
        direction: ltr;
    }
} */

@media screen and (max-width: 1000px){
    .Experience .container {
        padding-left: 0;
    }
    .Experience-wrapper::before {
        left: 12rem;
        margin-bottom: 1.875rem;
    }
    .marker {
        position: absolute;
    }
    .timeline-block-right,
    .timeline-block-left
    {
        float: none;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .timeline-block-left {
        direction: ltr;
    }
    .timeline-content {
        padding-left: 2rem;
    }
}