.Footer {
	display: flex;
	justify-content: center;
	background: var(--primary-text);
	padding: 3rem;
	font-family: 'Rubik Mono One', sans-serif;
	line-height: 200%;
}

.Footer a {
	cursor: pointer;
	color: var(--primary-yellow) !important;
	text-shadow: 1px 1px 1px var(--primary-red);
}

.Footer a:hover {
	color: var(--primary-text);
}

.Footer p {
	margin-bottom: 0;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
	.Footer-wrapper {
		flex-direction: column;
	}

	.contact-info {
		padding: 1rem 0;
	}
	.icons {
		justify-content: start !important;
		margin: 2rem 0;
		padding: 0;
	}
	.icon {
		margin: 0.3125rem 0;
	}
}

@media screen and (min-width: 768px) {
	.icons {
		justify-content: space-between;
	}
}
