.logo {
    width: 3.125rem;
}

nav {
    z-index: 2;
}

/* MENU LINKS */
nav a.nav-link {
    cursor: pointer;
}

.navbar-nav > li > a {
    margin-right: 0.3125rem;
    margin-left: 0.3125rem;
    color: var(--primary-white) !important;
    border-bottom: 0.1875rem solid var(--primary-dark);
}

.logo {
    max-width: 17.25rem;
    padding: 0 !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus, .navbar-nav > li > a:hover {
    border-bottom: 0.1875rem solid var(--primary-orange);
} 

.hamburger-icon {
    color: var(--primary-white);
}
