.Portfolio {
	padding: 0.7rem;
	background: var(--bgcolor);
}

.Portfolio-content {
	width: 95%;
	padding: 0 0.9375rem;
	color: var(--primary-white);
}

.project-description {
	padding: 0.5rem 0;
	font-size: 0.9rem;
}

.giphy-embed {
	border-radius: 15px;
	box-shadow: 1px 1px 5px #000;
}

.yellow {
	background: var(--primary-yellow) !important;
}

.orange {
	background: var(--primary-orange) !important;
}

.red {
	background: var(--primary-pink) !important;
}

.green {
	background: var(--primary-green) !important;
}

.dark {
	background: var(--primary-dark) !important;
}

.portfolio-btn {
	position: relative;
	display: inline-block;
	margin: 0 1.25rem;
	color: var(--primary-white) !important;
	font-size: 0.75rem;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 2px;
	/* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}
.portfolio-btn:hover {
	background: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
		0 0 200px #03e9f4;
}
.portfolio-btn span {
	position: absolute;
	display: block;
}
.portfolio-btn span:nth-child(1) {
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #03e9f4);
	animation: animate1 6s linear infinite;
}
@keyframes animate1 {
	0% {
		left: -100%;
	}
	50%,
	100% {
		left: 100%;
	}
}
.portfolio-btn span:nth-child(2) {
	top: -100px;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #03e9f4);
	animation: animate2 6s linear infinite;
	animation-delay: 0.25s;
}
@keyframes animate2 {
	0% {
		top: -100%;
	}
	50%,
	100% {
		top: 100%;
	}
}
.portfolio-btn span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #03e9f4);
	animation: animate3 6s linear infinite;
	animation-delay: 0.5s;
}
@keyframes animate3 {
	0% {
		right: -100%;
	}
	50%,
	100% {
		right: 100%;
	}
}
.portfolio-btn span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #03e9f4);
	animation: animate4 6s linear infinite;
	animation-delay: 0.75s;
}
@keyframes animate4 {
	0% {
		bottom: -100%;
	}
	50%,
	100% {
		bottom: 100%;
	}
}

/* .Portfolio-image {
	max-width: 10rem;
	border-radius: 1rem;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.Portfolio-image-box {
	position: relative;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Portfolio .card {
	min-height: 350px;
}

.Portfolio .card h5 {
	font-size: 1.5rem;
}

.overflow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0;
	background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
		repeat scroll transparent\9; /* ie fallback png background image 
	z-index: 9999;
	color: white;
	border: none;
	border-radius: 1rem;
}

.Portfolio p {
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	padding-top: 1rem;
}

.Portfolio-image-popupbox {
	position: relative;
	display: flex;
}

.my-popup-box {
	width: 3rem;
}

.hyper-link {
	cursor: pointer;
	color: var(--primary-red);
}

.mobile {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.popup-content {
	margin: auto;
	background: rgb(255, 255, 255);
	padding: 5px;
}
.popup-arrow {
	color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
	width: 200px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
	background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
	background: transparent;
}

/*------------ MEDIA ------------------*/
/* @media (max-width: 768px) {
	.Portfolio-image-popupbox {
		width: 100%;
	}
}

@media (max-height: 570px) {
	.popupbox-wrapper {
		height: 100%;
	}
	.Portfolio-image-popupbox {
		width: 50%;
	}
}

@media (max-height: 280px) {
	.popupbox-wrapper {
		height: 90%;
	}
	.Portfolio-image-popupbox {
		width: 30%;
	}
}  */
