.Services {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 2rem;
	background: var(--primary-mint);
}

.Services p {
	padding: 0 0.3125rem;
	text-align: left;
	text-size-adjust: 100%;
	line-height: 1.4;
	margin: 0.5rem;
}

.Services .circle {
	position: relative;
	margin: 0.375rem auto;
	background: var(--primary-yellow);
	border-radius: 50%;
	width: 3.5rem;
	height: 3.5rem;
}

.Services .icon {
	position: absolute;
	top: calc(50% - 0.15rem);
	left: 50%;
	transform: translate(-50%, -50%);
}

.Services .box {
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	border-bottom: 0.125rem solid var(--primary-yellow);
	padding: 0.625rem;
	background: var(--primary-white);
	border-radius: 5px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
	transition: 0.3s ease-in-out;
}

.Services .box:hover {
	background: var(--primary-yellow);
	border-bottom: 0.125rem solid var(--primary-text);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
	transform: scale(1.05, 1.05);
}

.Services .box:hover .icon {
	color: var(--primary-text);
}

.Services .box:hover .circle {
	background: var(--primary-white);
}

@media screen and (min-width: 280px) and (max-width: 359px) {
	.Services .box {
		margin: 0.325rem;
	}
	.icon {
		font-size: 1rem;
	}
	.Services p {
		font-size: 0.75rem;
	}
}

@media screen and (min-width: 360px) and (max-width: 819px) {
	.Services .box {
		height: 14rem;
		margin: 0.325rem;
	}
	.secondary-heading {
		padding-top: 0.7rem;
	}
	.Services p {
		font-size: 0.8rem;
	}
}

@media screen and (min-width: 820px) {
	.section-heading {
		font-size: 3rem;
	}
	.col-md-6 {
		padding-bottom: 1rem;
	}
}
