/* 
--------------------------
CSS INDEX
===================

00. Reset
01. Theme default CSS
02. Header
03. Hero
04. Footer

-----------------------------------------------------------------------------------*/
/*===========================
      00.Reset css 
===========================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	background: black;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===========================
      01.COMMON CSS 
===========================*/

/* Redefine color palette */

:root {
	--txt-white: #f6f3ed;
	--bg-red: #7A0600;
	--bg-blue: #193b4d;
	--txt-yellow: #FFF047;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	/* this makes sure the padding and the border is included in the box sizing */
	box-sizing: border-box;
	overflow-x: hidden;
}

html body {
	padding: 0;
	margin: 0;
	overflow-y: inherit;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* Color scheme */

	--textcolor: var(--primary-white);
	--bgcolor: var(--superman-blue);
}

@media (prefers-color-scheme: dark) {
	* {
		--textcolor: #dadada;
		--bgcolor: #141414;
		--highlight: #ffc600;
	}
}

.App {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	text-align: justify;
	color: var(--superman-yellow);
	z-index: 1;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

* a {
	text-decoration: none !important;
	color: var(--primary-text) !important;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	text-decoration: none;
}

i,
span,
a {
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Rubik Mono One', sans-serif;
	color: var(--primary-text);
	margin: 0px;
}

ul,
ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.component-wrapper {
	position: relative;
	min-height: 100vh;
}

.heading {
	text-transform: uppercase;
	font-weight: 700;
}

.section-heading {
	text-align: center;
}

.brand {
	color: #ffe600 !important;
	text-shadow: 0 0.1rem 0.01rem rgba(255, 0, 0.8);
	font-family: 'Rubik Mono One', sans-serif;
}

.tagline-container {
	background: black;
}

.tagline {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 2rem;
	color: var(--primary-white);
}

.highlight {
	font-weight: bold;
	color: var(--highlight);
	text-shadow: 0 0.2rem 0.2rem rgba(255, 0, 0.8);
}

.sub-heading,
.nav-link {
	font-weight: 600;
	margin: 0;
}

.secondary-heading {
	font-weight: 600;
	font-size: 1.3rem;
}

.secondary-font {
	font-family: 'PT serif', serif;
}

.bg_cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.tsparticles-canvas-el {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 1;
}

@media screen and (max-width: 2768px) {
	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 768px) {
	#tsparticles {
		display: none;
	}
}
