@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&family=Quattrocento:wght@400;700&display=swap');

/* 
--------------------------
CSS INDEX
===================

00. Theme default CSS
01. Header
02. Hero
03. Footer


/*===========================
     00. Theme default CSS
===========================*/

:root {
	--white: rgba(246, 243, 237, 0.8);
	--dark-red-clear: rgba(215,0,21,0.8);
	--dark-red: rgb(215,0,21);
	--light-red: rgb(255,105,97);
	--dark-blue: rgb(0,64,221);
	--light-blue: rgb(64,156,255);
	--dark-yellow:rgb(178,80,0);
	--light-yellow-clear: rgba(255,212,38,0.8);
	--light-yellow: rgb(255,212,38);
	--dark-gray: rgb(97,97,101);
	--light-gray: rgb(152,152,157);
}


img {
	max-width: 100%;
}

* a {
	text-decoration: none !important;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	text-decoration: none;
}

i,
span,
a {
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

ul,
ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	/* this makes sure the padding and the border is included in the box sizing */
	box-sizing: border-box;
	overflow-x: hidden;
}

html body {
	padding: 0;
	margin: 0;
	overflow-y: inherit;
}

/*===========================
     00. Layout
===========================*/


.bg-dark-blue { background-color: var(--dark-blue); }

.bg-light-blue { background-color: var(--light-blue); }

.bg-dark-red { background: var(--dark-red)}

/* .bg-dark-red { background: linear-gradient(to top right, var(--dark-blue), var(--dark-red)); } */

.bg-light-red { background-color: var(--light-red); }


/*===========================
     00. Text
===========================*/

.txt-white { color: var(--white); }

.txt-light-yellow { color: var(--light-yellow); }

.txt-dark-yellow { color: var(--dark-yellow); }

.txt-dark-gray { color: var(--dark-gray); }

.txt-light-gray { color: var(--light-gray); }

/* Titles of pages/modals */

.title-text, .secondary-text {
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 600;
}

.title-text {
	font-size: 34pt;
	font-weight: 800;
}

.paragraph-text, .link, .secondary-text {
	font-family: 'Quattrocento', serif;
	color: var(--light-yellow);
	font-weight: 500;
}

.paragraph-text, .link {
	font-family: 'Quattrocento', serif;
	font-size: 17pt;
}

.secondary-text {
	font-size: 15pt;
	color: var(--dark-gray);
}

.tertiary-text, .captions, .segmented-buttons {
	font-size: 13pt;
}

.buttons, .txt-inputs {
	font-size: 17pt;
	font-weight: 600;
}


/*===========================
     01. Header
===========================*/

/*===========================
     02. Hero
===========================*/

/*===========================
     00. Footer
===========================*/

/* Redefine color palette */

.heading {
	text-transform: uppercase;
	font-weight: 700;
}

.section-heading {
	text-align: center;
}

.sub-heading,
.nav-link {
	font-weight: 600;
	margin: 0;
}

.secondary-heading {
	font-weight: 600;
	font-size: 1.3rem;
}

.secondary-font {
	font-family: 'PT serif', serif;
}

.bg_cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}






@media screen and (max-width: 2768px) {
	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 768px) {
	#tsparticles {
		display: none;
	}
}
